{# Usage: {% include 'partials/_brand_logo.jinja' %}
   Optional: logo_height, logo_variant ('full'|'mark'), logo_class #}
{% set _h = logo_height if logo_height is defined else 'h-11' %}
{% set _v = logo_variant if logo_variant is defined else 'full' %}
{% set _c = logo_class if logo_class is defined else 'inline-flex shrink-0 items-center' %}
<a href="/" class="{{ _c }}" aria-label="SuratBazar home">
  {% if _v == 'mark' %}
  <picture>
    <source type="image/webp" srcset="/static/img/logo-mark.webp">
    <img
      src="/static/img/logo-mark.png"
      alt="SuratBazar"
      class="{{ _h }} w-auto"
      width="88"
      height="82"
      decoding="async"
    >
  </picture>
  {% else %}
  <picture>
    <source type="image/webp" srcset="/static/img/logo-web.webp">
    <img
      src="/static/img/logo-web.png"
      alt="SuratBazar"
      class="{{ _h }} w-auto"
      width="210"
      height="154"
      decoding="async"
    >
  </picture>
  {% endif %}
</a>
