{% extends 'pages/partner/base_partner.jinja' %}

{% block title %}Enquiries | Partner | SuratBazar{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block partner_content %}
{% include 'partials/_enquiry_inbox_page.jinja' %}
{% endblock %}
