{% extends 'pages/partner/base_partner.jinja' %}

{% block title %}{{ enquiry.subject or 'Enquiry' }} | Partner | SuratBazar{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block partner_content %}
{% include 'partials/_enquiry_thread.jinja' %}
{% endblock %}
