{% extends 'base.jinja' %}
{% import 'components/button.jinja' as btn %}

{% block title %}{{ enquiry.subject or 'Enquiry' }} | SuratBazar{% endblock %}

{% block content %}
<div class="min-h-screen bg-stone-50 px-4 py-8 sm:px-6">
  <div class="mx-auto max-w-2xl">
    {% include 'partials/_enquiry_thread.jinja' %}
  </div>
</div>
{% endblock %}
